name: SBOM to Dependency-Track

on:
  push:
    branches:
      - feature/base-auto-update
  workflow_dispatch:

jobs:
  sbom:
    runs-on: ubuntu-latest
    steps:
      - name: checkoutauto
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build (and test) project with Maven
        run: mvn -B package --file pom.xml

      - name: Generate CycloneDX SBOM
        run: mvn cyclonedx:makeAggregateBom

      - name: Upload to Dependency-Track
        env:
          API_URL: ${{ secrets.DEPENDENCY_TRACK_API_URL }}
          API_KEY: ${{ secrets.DEPENDENCY_TRACK_API_KEY }}
          PROJECT_UUID: ${{ secrets.DEPENDENCY_TRACK_PROJECT_UUID }}
          PROJECT_NAME: ${{ secrets.DEPENDENCY_TRACK_PROJECT_NAME }}
        run: |
          set -euo pipefail
          
          BOM_FILE="target/mega-backend.json"
          test -f "$BOM_FILE"
          
          base64 < "$BOM_FILE" | tr -d '\r\n' | \
          jq -Rn \
          --arg project "${PROJECT_UUID}" \
          --arg projectName "${PROJECT_NAME}" \
          --arg projectVersion "1.0.0" \
          '{
              project: $project,
              projectName: $projectName,
              projectVersion: $projectVersion,
              autoCreate: true,
              isLatestProjectVersion: true,
              bom: .
            }' | \
          curl -sS -X PUT "${API_URL}/api/v1/bom" \
          -H "accept: application/json" \
          -H "X-Api-Key: ${API_KEY}" \
          -H "Content-Type: application/json" \
          -d @-
